<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" href="/employee">
      <i class="fas fa-fw fa-table"></i>
      <span>Data Karyawan</span></a
    >
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/company">
      <i class="fas fa-fw fa-table"></i>
      <span>Data Kendaraan karyawan</span></a
    >
  </li>
</ul>
